-- Script generated by MySQL Compare 1.0.0.425 on 10/16/2014 9:41:28 PM

SET @ORIGINAL_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @ORIGINAL_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @ORIGINAL_SQL_MODE=@@SQL_MODE, SQL_MODE='ALLOW_INVALID_DATES,NO_AUTO_VALUE_ON_ZERO,NO_AUTO_CREATE_USER';

USE `sprocket`;

ALTER TABLE `sprocket`.`interest`
  MODIFY COLUMN `name` varchar(255) NOT NULL;

ALTER TABLE `sprocket`.`place`
  DROP COLUMN `locale`
  , MODIFY COLUMN `box_center_altitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_center_latitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_center_longitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_lower_left_altitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_lower_left_latitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_lower_left_longitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_lower_right_altitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_lower_right_latitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_lower_right_longitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_upper_left_altitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_upper_left_latitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_upper_left_longitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_upper_right_altitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_upper_right_latitude` decimal(19,12) NULL
  , MODIFY COLUMN `box_upper_right_longitude` decimal(19,12) NULL
  , ADD COLUMN `city` varchar(255) NULL
  , ADD COLUMN `country` varchar(255) NULL
  , ADD COLUMN `display_phone` varchar(50) NULL
  , ADD COLUMN `postal_code` varchar(10) NULL
  , ADD COLUMN `state_or_region` varchar(255) NULL
  , ADD COLUMN `street_name` varchar(255) NULL
  , ADD COLUMN `unit_name` varchar(255) NULL
  , ADD COLUMN `description` longtext NULL
  , ADD COLUMN `external_identifier` varchar(255) NULL
  , ADD COLUMN `last_updated` bigint(20) NOT NULL DEFAULT 0
  , ADD COLUMN `locator` varchar(255) NOT NULL
  , ADD COLUMN `external_network` int(11) NOT NULL DEFAULT '-1'
  , ADD COLUMN `max_rating` double NULL
  , ADD COLUMN `min_rating` double NULL
  , ADD COLUMN `ratings` int(11) NULL
  , ADD COLUMN `rating` double NULL
  , ADD COLUMN `region` varchar(255) NOT NULL
  , ADD COLUMN `thumb_content_length` bigint(20) NULL
  , ADD COLUMN `thumb_item_key` varchar(255) NULL
  , ADD COLUMN `thumb_url` longtext NULL
  , ADD COLUMN `parent_id` bigint(20) NULL;

CREATE INDEX `FK_jkx8qo8l0c88h8yapssg2om50` ON `sprocket`.`place`(`parent_id`);

ALTER TABLE `sprocket`.`place` ADD UNIQUE KEY `idx_external_locator`(`external_network`,`locator`);

ALTER TABLE `sprocket`.`place`
  MODIFY COLUMN `last_updated` bigint(20) NOT NULL
  , MODIFY COLUMN `external_network` int(11) NOT NULL;

ALTER TABLE `sprocket`.`place` MODIFY COLUMN `place_id` bigint(20) NOT NULL;

ALTER TABLE `sprocket`.`place` DROP INDEX `idx_place_name_locale`;

ALTER TABLE `sprocket`.`place` ADD FOREIGN KEY (`parent_id`) REFERENCES `sprocket`.`place` (`place_id`);

ALTER TABLE `sprocket`.`external_interest`
  MODIFY COLUMN `name` varchar(255) NOT NULL
  , MODIFY COLUMN `external_network` int(11) NOT NULL DEFAULT '-1';

ALTER TABLE `sprocket`.`external_interest` ADD UNIQUE KEY `idx_external_network_name_parent`(`external_network`,`name`,`interest_id`);

USE `sprocket`;

ALTER TABLE `sprocket`.`interest` ADD UNIQUE KEY `idx_name_parent`(`name`,`parent_id`);

ALTER TABLE `sprocket`.`interest` MODIFY COLUMN `interest_id` bigint(20) NOT NULL;

ALTER TABLE `sprocket`.`interest` DROP INDEX `UK_n9khibjfvt2sanahgb13qslgd`;

ALTER TABLE `sprocket`.`external_interest` MODIFY COLUMN `external_interest_id` bigint(20) NOT NULL;

ALTER TABLE `sprocket`.`external_interest` DROP INDEX `idx_external_network_name`;

ALTER TABLE `sprocket`.`external_identity`
  MODIFY COLUMN `external_network` int(11) NOT NULL;

ALTER TABLE `sprocket`.`external_interest`
  MODIFY COLUMN `name` varchar(255) NOT NULL;

ALTER TABLE `sprocket`.`video_content`
  MODIFY COLUMN `external_network` int(11) NOT NULL;

  ALTER TABLE `sprocket`.`interest`
  MODIFY COLUMN `interest_id` bigint(20) NOT NULL auto_increment;

ALTER TABLE `sprocket`.`place`
  MODIFY COLUMN `place_id` bigint(20) NOT NULL auto_increment;

ALTER TABLE `sprocket`.`external_interest`
  MODIFY COLUMN `external_interest_id` bigint(20) NOT NULL auto_increment;
 
-- Script generated by MySQL Compare 1.0.0.425 on 10/16/2014 10:44:26 PM

SET @ORIGINAL_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0;
SET @ORIGINAL_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0;
SET @ORIGINAL_SQL_MODE=@@SQL_MODE, SQL_MODE='ALLOW_INVALID_DATES,NO_AUTO_VALUE_ON_ZERO,NO_AUTO_CREATE_USER';

USE `sprocket`;

CREATE TABLE `sprocket`.`favorite_item` (
  `item_type` varchar(31) NOT NULL,
  `favorite_item_id` bigint(20) NOT NULL auto_increment,
  `last_updated` bigint(20) NOT NULL,
  `user_id` bigint(20) NOT NULL,
  `place_id` bigint(20) NULL,
  PRIMARY KEY (`favorite_item_id`),
  FOREIGN KEY (`place_id`) REFERENCES `sprocket`.`place` (`place_id`),
  FOREIGN KEY (`user_id`) REFERENCES `sprocket`.`user` (`user_id`),
  KEY `FK_1x81wse9d1j6yis0qoiy8ywkr`(`place_id`),
  KEY `FK_np5lcv9rysvsat5yrbo6lps01`(`user_id`)
) ENGINE=InnoDB;

CREATE TABLE `sprocket`.`place_interests` (
  `place_id` bigint(20) NOT NULL,
  `interest_id` bigint(20) NOT NULL,
  PRIMARY KEY (`place_id`,`interest_id`),
  FOREIGN KEY (`place_id`) REFERENCES `sprocket`.`place` (`place_id`),
  FOREIGN KEY (`interest_id`) REFERENCES `sprocket`.`interest` (`interest_id`),
  KEY `FK_hb3d5dc84olt9at1oh481myti`(`interest_id`)
) ENGINE=InnoDB;

SET FOREIGN_KEY_CHECKS=@ORIGINAL_FOREIGN_KEY_CHECKS;
SET UNIQUE_CHECKS=@ORIGINAL_UNIQUE_CHECKS;
SET SQL_MODE=@ORIGINAL_SQL_MODE;
