*.class
target/*
\.vagrant*
*\.idea
# Package Files #
*.jar
*.war
*.ear
*.bin
sprocket-api/\.settings/
sprocket-api/.settings/org.eclipse.wst.common.component
sprocket-api/bin
/sprocket-api/*.classpath
/sprocket-analytics-worker/*.classpath
/sprocket-location-worker/*.classpath
/sprocket-datasync-worker/.classpath
/sprocket-tracker-worker/.classpath
