*.class
target/*
\.vagrant*
*\.idea
# Package Files #
*.jar
*.war
*.ear
*.bin
/sprocket-api\.settings/*.component
sprocket-api/.settings/org.eclipse.wst.common.component

/sprocket-datasync-worker/.classpath
