<settings>
	<profiles>
	
		<!-- Builds Sprocket back-end for vm installations -->
		<profile>
			<id>env-vm</id>
			<properties>
				<syslog.host>ubiquity-build.ubiquitybc.net</syslog.host>
				<redis.host>localhost</redis.host>
				<hibernate.debug>true</hibernate.debug>
				<solr.api.host>localhost</solr.api.host>
				<solr.api.port>8080</solr.api.port>
				<social.facebook.consumerKey>581153318672017</social.facebook.consumerKey>
				<social.facebook.consumerSecret>0752b1dfd97a54334b53f3a22ee9b3ca</social.facebook.consumerSecret>
				<social.twitter.app.consumerKey>mbCvxpZRXtnn170Kk39MbFhsu</social.twitter.app.consumerKey>
				<social.twitter.app.consumerSecret>rYp1ICQMEPjfj5YrAiDqLZC5oN5UeCh0tmTXMxsqfsOdetpzG3</social.twitter.app.consumerSecret>
				<social.google.android.apikey>AIzaSyDhTbmc7b30AR2iwU5Ahxwbd9fQegt8AuU</social.google.android.apikey>
				<social.google.ios.apikey>AIzaSyBLbSDsyGMBbXGVlnIUIpiSP3JKY706Gf0</social.google.ios.apikey>
				<social.google.web.apikey>AIzaSyCSxTEjWrO-WuY3vwBT9DRYXgFWvNXdd0I</social.google.web.apikey>
				<social.google.apikey>AIzaSyCSxTEjWrO-WuY3vwBT9DRYXgFWvNXdd0I</social.google.apikey>
				<db.pool.maxActive>50</db.pool.maxActive>
				<db.pool.maxIdle>3</db.pool.maxIdle>
				<db.pool.maxIdleTime>55</db.pool.maxIdleTime>
				<db.pool.maxWait>10000</db.pool.maxWait>
				<db.pool.idleConnectionTestPeriod>60
				</db.pool.idleConnectionTestPeriod>
				<db.username>sprocketusr</db.username>
				<db.password>sprocket9801</db.password>
				<db.host>localhost</db.host>
				<hibernate.schema.auto>update</hibernate.schema.auto>
				<stripe.api.client>pk_test_ujJiLWzAZymWRzD10MqT2tej</stripe.api.client>
				<stripe.api.secret>sk_test_TnUECtSTe28lDumdFPQVTRJO</stripe.api.secret>
				<repo.env>dev</repo.env>
				<mq.host>localhost</mq.host>
				<mq.username>netappusr</mq.username>
				<mq.password>blackdeer</mq.password>
			</properties>
			<activation>
				<property>
					<name>env</name>
					<value>vm</value>
				</property>
			</activation>
		</profile>
		
		<!-- Builds Sprocket back-end for QA installation -->
		<profile>
			<id>env-qa</id>
			<properties>
				<syslog.host>ubiquity-build.ubiquitybc.net</syslog.host>
				<redis.host>localhost</redis.host>
				<hibernate.debug>true</hibernate.debug>
				<solr.api.host>localhost</solr.api.host>
				<solr.api.port>8080</solr.api.port>
				<social.twitter.app.consumerKey>c6jR4jw7TlioL9nlwpFpnvjlT</social.twitter.app.consumerKey>
				<social.twitter.app.consumerSecret>X6hvFAwT1tSOoQeSI288HlDT3ufMW837RGwnSBSbavvj346gi8</social.twitter.app.consumerSecret>
				<social.google.android.apikey>AIzaSyC-EfEn6WHFEDg3UjuaNxb-ZhqsCzY1D84</social.google.android.apikey>
				<social.google.ios.apikey>AIzaSyCrTjAqBZK6DkGhFmuAu6-urDMABu0b_vk</social.google.ios.apikey>
				<social.google.web.apikey>AIzaSyCY3woAWsatYnwhkYOeBqVjQ8V9hGa2vt8</social.google.web.apikey>
				<db.pool.maxActive>50</db.pool.maxActive>
				<db.pool.maxIdle>3</db.pool.maxIdle>
				<db.pool.maxIdleTime>55</db.pool.maxIdleTime>
				<db.pool.maxWait>10000</db.pool.maxWait>
				<db.pool.idleConnectionTestPeriod>60
				</db.pool.idleConnectionTestPeriod>
				<db.username>sprocketusr</db.username>
				<db.password>sprocket9801</db.password>
				<db.host>localhost</db.host>
				<hibernate.schema.auto>update</hibernate.schema.auto>
				<stripe.api.client>pk_test_ujJiLWzAZymWRzD10MqT2tej</stripe.api.client>
				<stripe.api.secret>sk_test_TnUECtSTe28lDumdFPQVTRJO</stripe.api.secret>
				<repo.env>qa</repo.env>
				<mq.host>localhost</mq.host>
				<mq.username>netappusr</mq.username>
				<mq.password>blackdeer</mq.password>
			</properties>
			<activation>
				<property>
					<name>env</name>
					<value>qa</value>
				</property>
			</activation>
		</profile>
		
	

	</profiles>
</settings>
